body {
    background-color: black;
}

p {
    color: #FEFEFE;
}

#bounding {
    position: relative;
    display: block;
}

#container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: auto;
    margin-left: auto;
}

#sidetd {
    vertical-align: baseline;
}

#maintd {
    vertical-align: baseline;
}
